@import "../utilities/package";

.page {
    padding: 0 2rem;
    height: 100vh;
    max-width: 80rem;
    overflow-y: auto;

    &--light {
        background: map($color-list, background, light);
        color: map($color-list, neutral, 7);
    }
    &--dark {
        background: map($color-list, background, dark);
        color: map($color-list, neutral, 1);
    }
}


