$color-list: (
    background: (
        light: #f5f8fb,
        dark: #33344E
    ),
    primary: (
        1: #edf8fa,
        2: #d2f3f9,
        3: #b7eff7,
        4: #82e4f3,
        5: #2ecce2,
        6: #00aec3,
        faded: rgba(#82e4f3, .5), // --color-primary-4 .5
    ),
    neutral: (
        1: #f0f3f5,
        2: #e9ecf0,
        3: #c6d0d8,
        4: #a8b5bf,
        5: #7d8d9c,
        6: #55677a,
        7: #30435a,
        faded-1: rgba(0, 0, 0, .075),
        faded-2: rgba(0, 0, 0, .1),
        faded-3: rgba(0, 0, 0, .2),
        white-faded: rgba(#fff, .5),
    )
);
